<div class="flex form-wrap">
  <div class="w-1/2 h-full">
     <%= yield :devise_form %>
  </div>
  <div class="w-1/2 h-full video-wrap">
  <div class="video-area">
  <video class="video" autoplay="true" loop="true"  style="object-fit: cover; object-position: center top;">
  <source src="https://a0.muscache.com/v/a9/a7/a9a7873c-95de-5e37-8995-a5abb5b6b02f/a9a7873c95de5e378995a5abb5b6b02f_4000k_1.mp4?imformat=h265" type="video/mp4; codecs=hevc">
  <source src="https://a0.muscache.com/v/a9/a7/a9a7873c-95de-5e37-8995-a5abb5b6b02f/a9a7873c95de5e378995a5abb5b6b02f_4000k_1.mp4" type="video/mp4">
  </video>
  </div>
  </div>
</div>